[Unit]
Description=archlinux.no development server
Requires=redis.service
After=redis.service

[Service]
Type=simple
User=alexander
ExecStart=/home/alexander/go/src/github.com/xyproto/archlinuxno/compileloop.sh &
WorkingDirectory=/home/alexander/go/src/github.com/xyproto/archlinuxno
PIDFile=/tmp/archweb.pid
Environment=GOPATH=/home/alexander/go
After=redis.service

[Install]
WantedBy=multi-user.target
